<html>
<head>
  <title>Web Operations Conferences</title>
</head>
<body>
  <h1>Web Operations Conferences</h1>
  <% conferences.each do |conference| %>
    <h3>
      <a href="<%= conference['url'] %>"><%= conference['name'] %></a>
    </h3>
    <p>
      <%= conference['description'] %>
    </p>
  <% end %>
</body>
</html>
